.App {
  display: flex;
  flex-direction: column;
}
.Counter{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Todos{
  display: flex;
  flex-direction: column;
  text-align: center;
}